:root {
  --document-background: #723d46;
}

/* body {
  background-color: var(--document-background);
} */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--document-background);
  height: 100vh;
  width: 100vw;
}
