:root {
  --textColor: #ffe1a8;
  --drumPadWidth: calc(80px * 4 + 10px * 4);
}

#display {
  height: 30px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: var(--textColor);
}

.drum-pads {
  display: flex;
  width: var(--drumPadWidth);
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 80px;
}
